@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: IdleOn;
		src: url("/fonts/Idleon.woff2") format("woff2");
	}

	body {
		background-image: url("https://idleon.wiki/wiki/images/2/24/NightDesertBG.png");
		@apply text-white text-center;
	}

	h1 {
		@apply text-3xl font-idleon;
	}

	a {
		@apply link;
	}
}

@layer components {
	.pixelated {
		image-rendering: pixelated;
	}

	.link {
		@apply text-blue-500 cursor-pointer hover:underline;
	}
}
